:root {
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@charset "UTF-8";
/*@import url(font-awesome.min.css);*/
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap')

/* Reset */
html {
	font-family: 'Raleway', sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: subpixel-antialiased;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	color: #ebf1f6;
	line-height: 1.5;
	text-align: center; /* the one that changes everything!*/ 
/*	background-image: url("../../images/bg.jpg");
*/	/*background-image: linear-gradient(to right top, #744cad, #536fcc, #1f8ee0, #00aae9, #12c3eb);
	/*background-color: white;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat:no-repeat;

	background: rgb(36,34,82);
	background: -moz-linear-gradient(90deg, rgba(36,34,82,1) 0%, rgba(81,56,88,1) 51%, rgba(25,33,57,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(36,34,82,1) 0%, rgba(81,56,88,1) 51%, rgba(25,33,57,1) 100%);
	background: linear-gradient(90deg, rgba(36,34,82,1) 0%, rgba(81,56,88,1) 51%, rgba(25,33,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#242252",endColorstr="#192139",GradientType=1);
	
	display: table;
	width: 100%;
	height:;
	overscroll-behavior: none;
}
p {
	line-height: 18px;
	font-family: 'Raleway', sans-serif;
	/*font-family: "Source Sans Pro", Helvetica, sans-serif;*/
}

a {
	text-decoration: none;
	color: #1E3756;
}

img {
	vertical-align: middle;
	border-style: none;
}

ul {
	line-height: 18px;
	font-family: 'Raleway', sans-serif;
	margin-left: -10px;
}

@media only screen and (max-width: 576px) {
	.masthead {
		padding-bottom: 10px;
	}
	.heading {
		font-size: 40px;
		line-height: 45px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.tab {
		margin-top: 5px;
	}
	.tab button {
		margin: 0px 6px 0px 6px;
	}
	.container {
		width: 75%;
		margin: auto;
		margin-top: 22.5px;
/*		margin-top: 45px;
*/		margin-bottom: 60px;
	}
	.popup {
		margin: 50px auto;
		width: 70%;
		padding: 40px 40px 40px 20px;
	}
}

@media (min-width: 576px) {
	.masthead {
		padding-bottom: 10px;
	}
	.heading {
		font-size: 45px;
		line-height: 50px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	.tab {
		margin-top: 5px;
	}
	.tab button {
		margin: 0px 6px 0px 6px;
	}
	.container {
		width: 65%;
		margin: auto;
		margin-top:30px;
/*		margin-top: 60px;
*/		
		margin-bottom: 100px;
	}
	.popup {
		margin: 50px auto;
		width: 60%;
		padding: 40px 50px 40px 30px;
	}
}

@media (min-width: 768px) {
	.masthead {
		padding-bottom: 0px;
	}
	.heading {
		font-size: 45px;
		line-height: 50px;
		margin-top: 0 !important;
		margin-bottom: 0 !important;
		margin-right: auto !important;
		padding-left: 30px;
		float: left;
	}
	nav {
		margin-right: 20px;
		float: right;
	}
	.tab button {
		padding-top: 10px;
		margin: 0px 6px 0px 6px;
	}
	.container {
		width: 65%;
		margin: auto;
		margin-top: 45px;
/*		margin-top: 90px;
*/		margin-bottom: 125px;
	}
	.popup {
		margin: 70px auto;
		width: 60%;
		padding: 40px 50px 40px 30px;
	}
}

.masthead {
	padding-top: 15px;
	background-color: #ebf1f6;
	overflow: auto;    
	z-index: 990;
	display: block;
	box-shadow: 0px 4px 15px #60676c;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
}

.heading {
	letter-spacing: 1px;
	color: #1E3756;
	font-family: 'Raleway', sans-serif;
	position: relative;
	padding-bottom: 10px;
	display: block;    
	font-weight: normal;
}

.heading a {
	color: #1E3756;
}

nav {
	position: relative;
	display: inline;
}



.marginauto {
    margin: 5px auto 10px;
    display: block;
}


.aligncenter {
    text-align: center;
}







.tab {
	overflow: hidden;
	display: inline-block;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;    
	-ms-transition: all .3s;
	transition: all .3s;
}

.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	font-size: 22px;
	letter-spacing: 1px;
	color: #1E3756;
	font-family: 'Raleway', sans-serif;
}

.tab button:hover {
	cursor: pointer;
}

.container {
	text-align: center;  /* changed MOST RECENT -- this one works101!'*/'
}/*changed*/

.container-reads a {
	color: #1E3756;
	font-size: 22px; /* changed from 18*/
	letter-spacing: 0.5px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.2;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}




/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  width: 33%;
}

/* Middle column */
.column.middle {
  width: 66%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

#currently {
	font-size: 18px;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	display: inline;
}

h1 { /* for project and update titles*/
	font-size: 18px;
	letter-spacing: 1px;
	color: #ebf1f6;
	font-family: 'Raleway', sans-serif;
	line-height: 20px;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h2 { /* for update dates and project info */
	font-size: 14px;
	letter-spacing: 0.5px;
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h3 { /* for (nav) page titles */
	font-size: 22px;
	letter-spacing: 1px;
	color: #ebf1f6;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

h4 { /* for post listings on updates page */
	font-size: 18px;
	letter-spacing: 0.5px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.2;
	font-weight: normal;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

#projectButtons {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 25px;
}

#tileContainer {
	margin: 10px 0 15px 0;
	overflow: hidden;
}

#tileContainer ul {
	text-align: center;
}

.tile {
	background-color: #ebf1f6; /** most recent add**/
	width: 270px;
/*	height: 210px;
*/	/*height: 165px;*/
	height: 125px;
	overflow-y: hidden;
	text-align: center;
	display: none;
	vertical-align: middle;
	border-style: solid;
	border-width: 3px;
	padding: 15px 2px 0 2px;
	margin: 8px 2px 8px 2px;
	border-color: #ebf1f6;
	box-shadow: 1px 2px 3px #60676c;
}

.tile h1, h2 {
	text-decoration: none;
	color: #1E3756;
}

.show {
	display: inline-block;
}

.btn {
	background-color: #ebf1f6;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: 1px;
	color: #1E3756;
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	padding: 8px 8px 8px 8px;
	margin: 5px 5px 5px 5px;
	box-shadow: 1px 2px 3px #60676c;
	cursor: pointer;
}

.btn.active {
	background-color: white;
	color: #1E3756;
	outline-color: #ebf1f6;
	outline-style: solid;
	outline-width: 2px; 
}

.tileicon {
	text-align: center;
	/*color: #ebf1f6; /* ? */
	margin-top: 10px;
	zoom:0.65;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	display: block;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	background: #ebf1f6;
	color: #1E3756; /* ? */
	border-radius: 5px;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup a {
	color: #1E3756;
	text-align: left;
}

.popup h1 {
	color: #1E3756;
	text-align: center;
}


.popup .close {
	position: absolute;
	top: 15px;
	right: 25px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #1E3756; /* ? */
	text-align: left;
	/*color: #333;*/
}

.popup .content {
	max-height: 40%;
	overflow: auto;
}

.resizedpdf {
	position: relative;
	padding-bottom: 100%; 
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.resizedpdf iframe {
	position: absolute;
	top: 0; 
	left: 0;
	width: 100%;
	height: 100%;
}